#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black; /* Текст чорного кольору */
  background-color: white; /* Фон білого кольору */
}

body {
  background-color: #fff; /* Фон білого кольору для усього документу */
}

